@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    a {
        color: rgb(255, 255, 255);
    }

    z-index: 1;
    position: absolute;
}

.nav-bar {
    filter: brightness(80%);
    backdrop-filter: blur(5px);
    overflow: auto;
    width: 100%;
    height: 5.5em;
    display: flex;
    justify-content: left;
    position: absolute;
}

header {
    display: flex;
    justify-content: left;
    padding: 2em;

    .logo {
        color: white;
        font-weight: bold;
        padding: 0 1em;
        margin-right: 1em;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }

}

.social-header,
.hero-design {
    display: none;

    a {
        display: block;
        padding: 0 1em;
    }
}


.hero {
    background-image: url(/images/hero.webp);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        color: white;
        display: grid;
        text-align: center;
        font-size: 25px;
        line-height: 20%;
        transform: translateY(45vh);
    }
}

.about {
    padding: 4em 2em;

    .text {
        text-align: center;
    }

    .abouttitle {
        font-size: 60px;
        transform: translateY(-20px);
        margin-left: 1.15em;
    }

    background-image: url(/images/square1.svg);
    background-repeat: no-repeat;

    .right {
        transform: translateY(2em);
        border-radius: 30px;
    }
}

.skills {
    padding: 4em 2em;
    background: #95CFD5;

    .skillssquare {
        position: absolute;
        scale: 70%; //fix this. it will momentarily increase size when expanding window horizontally
        transform: translateY(-2em);
    }

    .skills-container {
        font-weight: bold;
        color: #2E2E2E;

        .skillstitle {
            font-size: 60px;
            line-height: 125%;

        }
    }
}